
<h2>記事の一覧ページ</h2>

<div class="container">
  <% @posts.each do |post|%>
    <div class="card">
      <div class="user_card">
        <%= link_to image_tag("user_icon.png", class: :icon), user_path(post.user) %>
        <%= link_to "by #{post.user.nickname}", root_path, class: :card__user %>
      </div>
      <div class="article_card">
        <%= link_to post.title, root_path, class: :card__title%>
        <%= link_to image_tag( post.image, class: :card__img ), root_path%>
        <div class="date">
          <div>12</div>
          <div>2020</div>
        </div>
      </div>
    </div>
  <% end %>
</div>