/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}
p {
  font-size: 14px;
}

/* カラー */
:root{
  --header_color: #c9a890;
  --main_color: #f5eee7;
  --key_color: #DEE752;
  --footer_color: #a5a58d;
  --font_color: #474246;
}
body{
  background-color: var(--main_color);
}

/* ヘッダー */

.header {
  background-color: var(--header_color);
  padding: 10px 0;
}
.inner {
  width: 90%;
  margin: 0px auto;
}
.gloval_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 40px;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* メイン */
.card {
  width: 100%;
  margin-top: 10px;
}
.card:first-child{
  margin-top: 0px;
}

.article_card {
  position: relative;
  }

.date {
  position: absolute;
  color: white;
  font-weight: bold; 
  font-family :Quicksand, sans-serif;
  text-align: right;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  font-size: 20px;
  }

.image-month{
  font-size: 2em;
  position: absolute;
  bottom: 24px;
  right: 10px;
}
.image-year{
  font-size: 24px;
}


.example img {
  width: 100%;
  }
/* フッター */

.footer {
  background-color: var(--footer_color);
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* PC表示 */
@media (min-width: 1025px) {
  .logo {
    width: 200px;
  }
  main{
    max-width: 90%;
    margin: 0 auto;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card:first-child{
    margin:20px 5px 0px 5px;
  }

  .card{
    width: 50%;
    margin:20px 5px 0px 5px;
  }
  
  .date {
    font-size: 2em;
    }

  .image-month{
    position: absolute;
    bottom: 38px;
    right: 31px;
  }

  .image-year{
    font-size: 45px;
  }

  .page-heading {
    font-size: 20px;
  }
 
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}