<div id="likes_buttons_<%= @post.id %>">
  <% if current_user.already_liked?(post) %>
    <%= link_to post_like_path(post), method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post), method: :post do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
  <%= post.likes.count %>
</div>